<nav>
    <div class="scrollable">
        <h2>Hello admin</h2>
        <ul>
            <li>
                <a href="/admin/plans">
                    <svg>
                        <use xlink:href="/images/icons.svg#table"></use>
                    </svg>
                    View plans
                </a>
            </li>
            <li>
                <a href="/admin/orders">
                    <svg>
                        <use xlink:href="/images/icons.svg#table"></use>
                    </svg>
                    View orders
                </a>
            </li>
            <li>
                <a href="/admin/subscriptions">
                    <svg>
                        <use xlink:href="/images/icons.svg#table"></use>
                    </svg>
                    View subscriptions
                </a>
            </li>
            <li>
                <a href="/orders/order_schedule">
                    <svg>
                        <use xlink:href="/images/icons.svg#table"></use>
                    </svg>
                    View order schedules
                </a>
            </li>
        </ul>
    </div>
</nav>
<main>
    <section>
        <h1>Dashboard</h1>
    </section>
</main>